name = "kegel-roulette-worker"
main = "workers/worker.ts"
compatibility_date = "2024-05-08"

[durable_objects]
bindings = [
  { name = "ROOM_DO", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RoomDO"]

[build]
command = "npm run build"

[site]
bucket = ".vercel/output/static"

[pages]
compatibility_flags = ["nodejs_compat"]
